<style>
  #content-blocks-{{forloop.index0}} .background-color
    {background-color: {{item.colors.background-color}};}

  #content-blocks-{{forloop.index0}} .square 
    {border: 4px solid {{item.colors.background-color}};}

  #content-blocks-{{forloop.index0}} .subheading-color 
    {color: {{item.colors.subheading-color}};}

  #content-blocks-{{forloop.index0}} .subheading-font 
    {font-family: {{item.fonts.subheading-font}};}
</style>

<section class="grid padded-sides background-color media-kit">
  <h4 class="col-12 subheading-font subheading-color">{{item.subheading}}</h4>
  <a href="{{item.links.first-link}}" class="square col-3_sm-6" style="background-image:url({{item.images.first-image}}); "></a>  
 
  <a href="{{item.links.first-link}}" class="square col-3_sm-6" style="background-image:url({{item.images.first-image}}); "></a>

  <a href="{{item.links.first-link}}" class="square col-3_sm-6" style="background-image:url({{item.images.first-image}}); "></a>

  <a href="{{item.links.first-link}}" class="square col-3_sm-6" style="background-image:url({{item.images.first-image}}); "></a>

</section>